@tailwind components;

@layer components {
  /* Extend Tailwind classnames */
  .border-border {
    @apply border-zinc-900/10 dark:border-zinc-700;
  }
  .content-auto {
    content-visibility: auto;
  }

  .shadow-out-sm {
    box-shadow:
      0 0 10px rgba(120, 120, 120, 0.1),
      0 5px 20px rgba(120, 120, 120, 0.2);
  }

  .backface-hidden {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
  }

  .center {
    align-items: center;
    justify-content: center;
  }

  .fill-content {
    min-height: calc(100vh - 17.5rem);
  }

  .card-shadow {
    box-shadow:
      0 0 0 1px rgba(0, 0, 0, 0.08),
      0 4px 6px rgba(0, 0, 0, 0.04);
  }

  .card-shadow:hover {
    box-shadow:
      0 0 0 1px rgba(0, 0, 0, 0.08),
      0 6px 14px rgba(0, 0, 0, 0.08);
  }
}
